.movie-list{
  margin-top: 3%;
  text-align: center;
  font-family: "Alata", sans-serif;
  z-index: 1;
  
}
.movies {
  text-align: center;
  margin: 0% 0 5% 0;
  width: 90%;
  font-family: "Viga", sans-serif;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 3%;
  height: 30vh;
}
.trend-movie-card {
  display: inline-block;
  text-align: center;
  padding: 2%;
  margin: 1% 1% 2% 1%;
  align-items: center;
  width: 200px;
  opacity: 0.4;
  transition: 0.75s;
}
.trend-movie-card:hover {
  opacity: 1;
}
.movie-card-image {
  border-radius: 3rem;
  width: 200px;
}
.card-link {
  color: #eeeeee;
  text-decoration: none;
}
.title{
  margin-top: 10%;
}

/* mediaq */
@media screen and (max-width: 920px) {
  .trend-movie-card{
    width: 100px;
  }
  .movie-card-image {
    width: 100px;
  }
  .movie-list{
    font-size: 13px
  }
}

@media screen and (max-width: 650px) {
  .trend-movie-card{
    width: 75px;
  }
  .movie-card-image {
    width: 75px;
  }
  .movie-list{
    font-size: 10px
  }
}
