*,
body {
  margin: 0;
}
html {
  scroll-behavior: smooth;
  background-color: #3a4750;
}

.landing{
  height: 100vh;
  background-image: url("./images/landing.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
/* font-family: 'Alata', sans-serif;
font-family: 'Viga', sans-serif; */
