*,
body {
  margin: 0;
}
html {
  scroll-behavior: smooth;
  background-color: #3a4750;
}

.landing{
  height: 100vh;
  background-image: url("./images/landing.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-align: center;
  box-shadow: 5px 10px 18px #303841;
  width: 100%;
}
/* font-family: 'Alata', sans-serif;
font-family: 'Viga', sans-serif; */

@media screen and (max-width: 920px) {
  .landing{
    height: 75vh;
  }
}
